<flux-card>
    <flux-empty-state>
        <img
            slot="image"
            src="https://assets.meltwater.io/flux-illustrations/latest/hero/svg/404_aqua.svg"
            alt="404 page"
        />
        <div slot="title">Page not found</div>
        <div slot="subtitle">
            Double check to see that the link you’re trying to visit is correct
        </div>
        <div slot="actions">
            <flux-button routerLink="/dashboard" type="outline" tint="primary">
                Go to dashboards
            </flux-button>
        </div>
    </flux-empty-state>
</flux-card>
