<!DOCTYPE html>
<html lang="en">
    <body class="col">
        <header>
            <h1>Welcome to MyReadingList</h1>
        </header>
        <main>
            <div class="buttons">
                <button routerLink="/add-book">Add Book</button>
                <button routerLink="/view-books">View Books</button>
                <button routerLink="/stats">Stats</button>
            </div>
        </main>

        <br />
        <div>
            <app-book-search></app-book-search>
        </div>
    </body>
</html>
